.postWrapper {
    margin-top: 10px;
    display: grid;
    grid-template-areas:
            "a t"
            "a l";
    grid-template-rows: auto;
    grid-template-columns: 60px auto;
    grid-gap: 10px;
    padding-left: 5px;
}

.postAvatar {
    grid-area: a;

}

.postAvatar img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
}

.postText {
    margin-top: 20px;
    grid-area: t;
}

.likesCount {
    grid-area: l;

}
