.nav {
    background-color: white;
    border-right: solid;
    border-top: solid;
    border-color: aquamarine;
    grid-area: n;
    padding: 8px;

}

.item {
    color: blue;
    text-decoration: none;
}

.active {
    color: grey;
    text-decoration: blink;
}